<script setup lang='ts'>
import { listDataT } from '../types/searchList'

const props = defineProps<{
    listData: listDataT[]
}>()

</script>

<template>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>分数</th>
            </tr>
        </thead>
        <tbody v-if="props.listData.length > 0">
            <tr v-for="item of listData" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.score }}</td>
            </tr>
        </tbody>

        <tbody v-else>
            <tr>
                <td colspan="4">
                    <slot></slot>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<style scoped>
table,
th,
td {
    width: 400px;
    border-collapse: collapse;
    border: solid 1px rgb(56, 124, 202);
    margin: auto;
    margin-top: 20px;
}
</style>