<script setup lang='ts'>
import { searchDatasT } from '../types/searchForm'
import debounce from 'lodash-es/debounce'

const props = defineProps({
    initial_type: String
})
const typeOption = reactive({
    'greater': '大于',
    'less': '小于',
    'equal': '等于'
})

const searchDatas: searchDatasT = reactive({
    type: props.initial_type,
    score: 0
})
// defineEmits 触发父组件事件，submit:data 是父组件的事件
const emit = defineEmits<(e: 'submit:data', emitData: searchDatasT) => void>()


let submitData = debounce(function () {
    emit('submit:data', searchDatas)
}, 500, { trailing: true })


watch(
    () => searchDatas.score,
    (newVal, oldVal) => {
        submitData()
        // console.log("🚀 ~ oldVal", oldVal)
        // console.log("🚀 ~ newVal", newVal)

    },
    {
        // immediate: true, // 立即执行
        deep: true, // 深度监听
    }
)

</script>

<template>
    <div>
        <input type="number" v-model="searchDatas.score" />
        <select v-model="searchDatas.type">
            <option v-for="(v, k) in typeOption" :value="k" :key="k">{{ v }}</option>
        </select>
    </div>
</template>


<style>
</style>