<script setup lang="ts">
import SearchForm from './components/SearchForm.vue'
import SearchList from './components/SearchList.vue'
import { searchDatasT } from './types/searchForm'
import { getDatas } from './services'

const searchDatas: any = reactive([])
const errorMsg = ref("--暂无数据--")

function showMsg(type: string) {
  searchDatas.length = 0
  switch (type) {
    case 'error':
      errorMsg.value = '对不起,系统出错了'
      break;
    case 'nodata':
      errorMsg.value = '--未搜到数据--'
      break;
    case 'loading':
      errorMsg.value = '正在加载中...请稍等'
      break;
    default:
      break;
  }
}

async function submitData(data1: searchDatasT) {
  showMsg('loading')
  const { type, score } = data1
  try {
    const { errorNo, data } = await getDatas(type, score)
    setTimeout(() => {
      if (errorNo != 0) {
        switch (errorNo) {
          case 1001:
            showMsg('nodata')
            break;
          default:
            break;
        }
        return
      }
      searchDatas.length = 0
      searchDatas.push(...data)
    }, 500)
  } catch (e) {
    showMsg('error')
  }
}
</script>

<template>
  <router-view />
  <!-- <SearchForm @submit:data="submitData" initial_type="greater" />
  <SearchList :listData="searchDatas">{{ errorMsg }}</SearchList>-->
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
